*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width:100%;
    background-color: rgb(248, 240, 240);
    display: flex;
    gap:2%;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
   
}
.container .p1{
    flex:1;
    gap:2%;
    display: flex;
    flex-direction:column ;
    font-weight: bold;
    font-size:28px;
    justify-content: center;
    
}
@media screen and (max-width:450px){
    .container .p1 .box1{
        margin:10px ;
    }
    .container .p1 .box1 p{
        font-size: 20px;
    }
    .container .p1 .box2{
        margin-bottom: 10px;
        overflow: hidden;
    }
}

.container .p1  .box1{
    flex:1;
    background-color: rgb(241, 213, 203);
    border-radius: 10px;
}
.container .p1  .box1 .p .span{
    color:blue;
}
.container .p1 .box1 img{
    object-fit: contain;
    width:90%;
    height:90%;
    flex:centre;
}
@media screen and (max-width:570px){
    .container .p1 .box1 img{
    height:70%;
    }
}  
.container .p1 .box2{
    flex:1;
    
    background-color: orange;
    border-radius: 10px;;
}
.container .p1 .box1 p span{
    color: blue;
}
.container .p1 .box2 img{
  object-fit: contain;
    width:90%;
    height:70%;  
}
@media screen and (max-width:800px){
    .container .p1 .box2 img{
        height:60%;}
    }

@media screen and (max-width:450px){
    .container .p1 .box2 p{
        font-size: 20px;
    }
}

.container .p2{
    flex:2;
    
    display: flex;
    flex-direction: column;
    gap:2%;

}
.container .p2 .u1{
    flex:1;
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    background-color: blueviolet;
    color:white;
}
.container .p2 .u1 .box3 p{
    font-size: 15px;

}
.container .p2 .box3 img{
    object-fit: contain;
    width:90%;
    height:100%;
}
.container .p2 .box3 h3 .tenx{
    color: orange;
}

.container .p2 .u2{
    flex:1;
    flex-direction: row;
    border-radius: 10px;
    display: flex;
    gap:2%;
    
}


.container .p2 .u3{
    flex:1;
    
    border-radius: 10px;
    display: flex;
    gap:2%;
    
}


.container .p2 .u2 .box4 {
   flex:1;
    border-radius: 10px;
    font-size: 25px;
    background-color: white;
}
.container .p2 .u2 .box4 img{
    object-fit: contain;
    width:100%;
    
}
.container .p2 .u2 .box5 {
    flex:1;
    border-radius: 10px;
    
    background-color: orange;
}
.container .p2 .u2 .box5 img{
    object-fit: contain;
    width:90%;
}
.container .p2 .u3 .box6{
    width:50%;
    border-radius: 10px;
    
    background-color: white;
    position:relative;
}
.container .p2 .box6 img{
    
    object-fit: contain;
    width:90%;
    height:40%;
}
.container .p3{
    flex:1;
    height:71.5%;
    gap:2%;
    display: flex;
    flex-direction: column;
    
}
.container .p3 .box8 h3{
    font-size:30px;
}
.container .p3 .box8{
    height: 100%;
    
    border-radius:10px;
    background-color:rgb(226, 184, 221);
}
.container .p3 .box8 img{
    object-fit: contain;
    width:90%;
    height:70%;
}
@media screen and (max-width:900px){
    .container .p3 .box8 img{
        height:60%;
    }
}

@media screen and (max-width:720px){
    .container .p3 .box8 h3{
    font-size: 20px;
    }
}
@media screen and (max-width:460px){
    .container .p3 .box8 h3{
        font-size: 18px;
    }
    .container .p3 .box8 .p{
        font-size: 6px;
    }
    .conatiner .p3 .box8{
        height:75%;
    }
}

.container .p4{
    position: absolute;
    left:52%;
    top:74%;
    width: 48%;
    height: 25%;
    background-color: blueviolet;
    border-radius: 10px;
    display: flex;
    color: white;
    font-size: 22px;
}
.container .p4 img{
    object-fit: contain;
    width:100%;
    height:100%;
} 
@media screen and (max-width:600px){
    .container{
     flex-direction: column;
     display: block;}
     
    
    .container .p1 .box1 img{
        height:60%;
        
    }
    .container .p1 .box2 img{
        height:90%;
        
    }

    .container .p2 .u2{
        flex-direction: column;
        margin:10px auto;
    }
    .container .p2 .u2 .box4{
        margin-bottom: 10px;
    }
    .container .p2 .u2 .box5{
        margin-bottom: 10px;
    }
    .container .p2 .u3 .box6{
        margin-bottom: 10px;
    }
    .container .p3 .box8{
        margin:10px auto;
    }
    
    .container .p4{
        flex-direction: column;
        position: absolute;
        top:350%;
        left:0%;
        width:100%;
        height:25%;
        align-self: flex-end;
        font-size:22px;
        margin:10px auto;
    }
    .container .p4 img{
        height:70%;
    }
}

@media screen and (max-width:550px){
    .container .p4{
        top:330%;}
    }
@media screen and (max-width:500px){
    .container .p4{
        top:305%;}
    }

@media screen and (max-width:630px){
    .container .p4 p{
        font-size:18px;}
}
@media screen and (max-width:430px){
    .container .p4{
        top:290%;}
    }
@media screen and (max-width:380px){
    .container .p4{
        top:280%;}
    }
@media screen and (max-width:340px){
    .container .p4{
        top:250%;}
    }
@media screen and (max-width:330px){
    .container .p4{
        top:270%;}
    }
@media screen and (max-width:290px){
    .container .p4{
        top:260%;}
    }
@media screen and (max-width:240px){
    .container .p4{
        top:250%;}
    }




































