*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container1, .container2, .container3{
    display: flex;
    height: 100vh;
    flex-direction: row;
    

}

.container1 {
     flex-flow: column;
     
}
.container1 .innerbox1 .innerbox2{
    width:20%;
    height:50%;
    
}

.container1 .innerbox1{
    width:20%;
    height: 50%;
    background-color: lightpink;
    font-size: 20px;
    font-weight: bold;
}
.container1 span{
    color: rgb(197, 29, 197);
}
.container1 img{
    width:90%;
    object-fit: cover;
    
    
}

.container1 .innerbox2{
    background-color: orange;
    font-size: 25px;
     width:20%;
    height: 50%;
     font-weight: bold;
}
.container2{
    color: white;
    width: 60%;
    font-size: 20px;
    
}
.container .innerbox3{
    background-color: blueviolet;
    width:100%;
    height:33%;

}
.container2 .h2 span{
    color: orange;
}
.container2 .innerbox3 img{
    width:90%;
}
.container2 .innerbox4 img{
    width:90%;
}
.container2 .innerbox5{
    background-color: orange;
}
.container2 .innerbox5{
    width:90%;
    height:60%;
}
.container2 .innerbox6 img{
    widtha:90%;
}
.container3 .innerbox7{
    background-color: blueviolet;
}
.container3{
    width: 20%;
    font-weight: bold;
}
.container3 .innerbox8{
    background-color:rgb(80, 74, 74) ;
}