.body{
    margin:0; 
    padding: 0;
}
.socialmedia{
   position: relative;
   top:0%;
   left:0%;
   height: 42.5%;
   width: 20%;
    background-color: blanchedalmond;
    padding-bottom: 2%;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
}
.socialmedia img{
  max-width:90%;

    
}
.quick{
    color: blue;
}
.Media{
    position: absolute;
    top:0.80%;
    left:25%;
    background-color: rgb(156, 62, 243);
    height: 35%;
    width: 40%;
    font-size: 15px;
    text-align: center;
    color: white;
}
.Media img{
    max-width:90%;
}
.tenx{
    color: orange;
    font-size:30px;
}
.Media.p{
    font-size: 10px;
}
.schedule{
    background-color: rgb(156, 154, 154);
    position: absolute;
    height:60%;
    width: 25%;
    left:68%;
    right:1%;
    top:1%;
}

.schedule.display{
    display:none;
}
.schedule img{
    
    width: 90%;
    height: 40%;
    margin-left: 5%;
    margin-right: 5%;
    

}
.schedule h2{
    font-size:20px;
    text-align: center;

}
.schedule p{
    font-size: 15px;
    text-align: center;
}
.ai{
    position: absolute;
    top:42%;
    width: 20%;
    height: 35%;
    font-size: 15px;
    background-color: rgb(241, 166, 27);
    text-align: center;
    padding-bottom: 8%;
}
.ai img{
    max-width: 95%;
    max-height:95%;
    
}
.platforms{
   
    font-weight:bold;
    font-size: 15px;
    position: absolute;
    left:25%;
    top:40%;
    width: 20%;
    height:18%;

}



.platforms img{
    max-width: 90%;
}
.percentage{
    position: absolute;
    width:20%;
    top:65%;
    left:25%;
    height: 18%;
    font-size: 15px;
   
}
.percentage img{
    max-width:60%;
}
.post{
    background-color: rgb(240, 170, 41);
    font-weight: bold;
    text-align: center;
    position: absolute;
    right:35%;
    top:40%;
    height: 20%;
    font-size: 20px;
    width: 20%;
    font-size: 15px;
    padding-bottom: 4%;
    
}
.post img{
    width:95%;
    height:60%;
}
.content{
    
    padding:5%;
    position: absolute;
    left:45%;
    top:64%;
    width:38%;
    height:12%;
   
    background-color: blueviolet;
    color: beige;
    font-weight: bold;
    font-size: 12px;
}
.content img{
 float:left;
  width: 56%;
  height:150%;
  
}
@media screen and (max-width:1114px){
    .socialmedia img{
        padding-bottom: 10%;
    }
}


@media screen and (max-width:823px){
    .socialmedia img{
        padding-bottom: 10%;
    }
}
@media screen and (max-width:701px){
    .socialmedia img{
        padding-bottom: 50%;
    }
}



@media screen and (max-width:642px){
.content h2{
    font-size: 14px;
    
}
}
@media screen and (max-width:492px){
.schedule p{
    font-size: 12px;
}
}
@media screen and (max-width:482px){
.content h2{
    font-size: 12px;
    
}
}
@media screen and (max-width:503px){
.platforms h2{
    font-size: 18px;
}
}
@media screen and (max-width:396px){
.schedule p{
    font-size: 10px;
}
}



@media screen and (max-width:390px){
    .bento{
        display: block;
    }
}
@media screen and (max-width:390px){
    .Media{
        position: relative;
        left:0%;
        
        
        width:80%;
        height:100%;
        margin: 0 auto;
    }
}
@media screen and (max-width:390px){
    .platforms{
        position: absolute;
        left:10%;
        top:33%;
        width:80%;
        height:40%;
        margin: 0 auto;
       .platforms.h2 br{
        display: none;
 

        
    }
    
}
}
@media screen and (max-width:390px){
    .post{
        position: absolute;
        left:10%;
        top:63%;
        width:80%;
        height:40%;
        margin: 0 auto;
        font-size: 18px;
        padding-bottom: 15%;

    }
}  
 @media screen and (max-width:390px){
    .schedule{
    position: absolute;
        left:5%;
        right: 5%;
        top:115%;
        width:80%;
        height:60%;
        margin: 0 auto;
        font-size: 15px;
    }
    .schedule p{
        font-size: 15px;
    }
}
 @media screen and (max-width:390px){
    .percentage{
        left:10%;
        top:168%;
        width:80%;
        height:60%;
        margin: 0 auto;
       font-size: 20px;
       
    } 
}

@media screen and (max-width:390px){
    .socialmedia{
       position: absolute;
       left:10%;
       top:210%;
       width:80%;
        height:40%;
        margin: 0 auto;
    }
    
}
 @media screen and (max-width:390px){
    .ai{
        left:10%;
        top:254%;
        width:80%;
        height:40%;
        margin: 0 auto;
        padding-bottom: 35%;
    }
 }
 @media screen and (max-width:390px){
    .content{
        left:5%;
        top:320%;
        width:80%;
        height:40%;
        margin: 0 auto;
        display: block;
    }
    .content h2{
        font-size: 20px;
    }
    .content img{
        height:80%;
    }
}